h1 {
  color: white;
  background-color: black;
  width: 200px;
  text-align: center;
  font-size: 20px;
}
.aa {
  background-color: gray;
  width: 200px;
  text-align: center;
  color: white;
}
